// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "twitter/bootstrap";

.navbar-inner {
  border-radius: 0;
}

#send-login-email form {
  padding: 20px;
  background-color: gray;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 5px solid white;
  -moz-box-shadow: 0 0 2px 2px #888;
  -webkit-box-shadow:  0 2px 2px #888;
  box-shadow: 0 0 2px 2px #888;
}

#send-login-email input {
  font-size: 200%;
  line-height: 1em;
  height: 1.5em;
  width: 12em;
  margin-right: .5em;
}

.big {
  font-size: 18px;
  line-height: 24px;
}

.highlight {
 background-color: #049cdb;
 color: white;
 font-weight: bold;
}
